/*General*/

body{
  background: yellow;
  font-size: 1px;
}

h1{
  display: flex;
  font-size: 35em;
  justify-content: center;
}

/*Flexbox*/
.center{
  display: flex;
  justify-content: center;
}

.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  align-items: flex-start;
  width: 80vw;
  height: 80vh;
  border: solid 3px black;
  padding: 5px;
}

.flexbox-item{
  width: 400px;
  height: 100px;
  border: solid 2px black;
  font: 25em arial;
  background: #dfdfdf;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1{
  width: auto-fit;
}


