html {
  height: 2000px;
}

.div1 {
  height: 200px;
  width: 200px;
  position: relative;
  background-color: cadetblue;
  top: 100px;
}

.div2 {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: black;
  top: 150px;
}

.div3 {
  position: static;
  height: 100px;
  width: 100px;
  background-color: chocolate;
}
