body {
  height: 200vh;
}

.grand-father {
  background-color: royalblue;
  width: 500px;
}

.son {
  width: inherit;
}

.child-1 {
  display: inline-block;
  background-color: coral;
  width: 50px;
  margin: auto;
}

.child-2 {
  background-color: crimson;
}

.child-3 {
  background-color: cornsilk;
}
